<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyber.smedu.mapper.BookMapper">
	<select id="bookListSelect" parameterType="java.util.Map" resultType="com.cyber.smedu.book.domain.BookDomain">
		SELECT 
			book_code as bookCode,
			book_name as bookName, 
			book_company as bookCompany, 
			book_writer as bookWriter, 
			book_introduce as bookIntroduce, 
			book_date as bookDate
		FROM
			book		
		<if test="bookName != ''">
		WHERE
			book_name LIKE '%${bookName}%'
		</if>
	</select>
</mapper>